<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>OK mango POC</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6 col-md-offset-3">
				<h1 class="text-center">Payment</h1>
				<div th:if="${mangoinfo}">
					<div class="text-center" th:text="${mangoinfo}"></div>
				</div>
				<div class="text-center">
					Your bday will be 09/09/1980
					<br />
					Your nationality and countryofresidence will be DE
					<br />
					<strong>Your order amount will be €10.00</strong>
					<br />
					Your credit card is:<br />
					4706750000000009<br />
					expires: 01/2018<br />
					CCV: 123
				</div>
				<h4 class="text-center">Execute a payment</h4>
				<div style="width: 75px; margin: auto;">
					<form action="/execute" method="POST">
						<input type="submit" name="action" value="execute"
							class="btn btn-primary" />
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
