<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>OK mango POC</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6 col-md-offset-3">
				<h1 class="text-center">OK mango POC</h1>
				<p class="text-center">
					Hello <span sec:authentication="name"></span>
				</p>
				<div th:if="${fbuser != null and fbuser == true}">
					<h4 class="text-center">Message from Server</h4>
					<div class="text-center">Your id is:</div>
					<div class="text-center" th:text="${id}"></div>
					<img class="img-responsive center-block" th:src="${img}" />
					<div class="text-center">Your name is:</div>
					<div class="text-center" th:text="${name}"></div>
					<div class="text-center">Your email is:</div>
					<div class="text-center" th:text="${email}"></div>
				</div>
				<div th:if="${fbuser != null and fbuser == false}">
					<h4 class="text-center">Message from Server</h4>
					<div class="text-center">Your name is:</div>
					<div class="text-center" th:text="${name}"></div>
					<div class="text-center">Your email is:</div>
					<div class="text-center" th:text="${email}"></div>
					<div class="text-center">Your password is:</div>
					<div class="text-center" th:text="${password}"></div>
				</div>
				<div th:if="${fbuser != null and fbuser == true}">
					<h4 class="text-center">Message from Server</h4>
					<div class="text-center">Your id is:</div>
					<div class="text-center" th:text="${id}"></div>
					<img class="img-responsive center-block" th:src="${img}" />
					<div class="text-center">Your name is:</div>
					<div class="text-center" th:text="${name}"></div>
					<div class="text-center">Your email is:</div>
					<div class="text-center" th:text="${email}"></div>
				</div>
				<br /> <br />
				<div class="text-center">
					<a href="/payment">go to paymentpage</a>
				</div>
				<br />
				<div th:if="${message != null}">
					<hr />
					<h4 class="text-center">Message from Server</h4>
					<div class="text-center" th:text="${message}"></div>
					<hr />
				</div>
				<h4 class="text-center">Do some action</h4>
				<div style="width: 75px; margin: auto;">
					<form action="/execute" method="POST">
						<input type="submit" name="action" value="execute"
							class="btn btn-primary" />
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
